{% extends 'base.html' %}

{% block content %}
    <p style="font-size: 40px;"><b>Значение теста:</b></p><br>
    <div style="background-color: rgba(0, 84, 166, 0.35); border-radius: 30px; width: 1196px; height: 364px;">
        <p style="margin-top: 40px; margin-left: 40px; font-size: 30px; padding: 20px;">
            Перед вами подробный и составленный профессионалами тест из 2 частей, созданный для бла бла бла бла бла бла бла бла бла бла бла бла бла бла <br>
            Ответив на все вопросы вы сможете определить к кокому из 4 типов темпераментов вы принадлежите, а так же четко узнаете вашу роль при выполнении командой работы.<br>
            Эти знания помогут вам легче орентироваться в вашей личной, социальной, и рабочей жизни. </p><br>
    </div>
    <button type="button" onclick="window.location.href='/temperament_test'" form="user_form" style="background-color: rgba(0, 84, 166, 0.59); border-radius: 30px; width: 200px; height: 50px; margin-left: 996px; margin-top: 20px;">Начать...</button>
{% endblock %}