{% extends 'base.html' %}

{% block content %}
    {% if success %}<h3 style="color: red;">Ответы успешно сохранены!</h3>{% endif %}
    <form method="POST">
        {% csrf_token %}
        <h2>Информация о студенте</h2>
        <input name="surname" id="surname" placeholder="Фамилия"><br>
        <input name="name" id="name" placeholder="Имя"><br>
        <input name="middle_name" id="middle_name" placeholder="Отчество"><br>
        <input name="group" id="group" placeholder="Группа"><br>
        <hr>
        <h2>Вопросы</h2>
        <h3 style="margin-bottom: 20px; margin-top: 20px;">Определение темперамента</h3>
        {% for question in temp_questions %}
            <h4>{{ question }}</h4>
            <select name="answer_{{ question.id }}">
                {% for answer in question.answers %}
                    <option>{{ answer }}</option>
                {% endfor %}
            </select>
            <hr>
        {% endfor %}
        <hr>
        <hr>
        <h3 style="margin-bottom: 20px; margin-top: 20px;">Определение командной роли</h3>
        {% for question in role_questions %}
            <h4>{{ question }}</h4>
            <select name="answer_{{ question.id }}">
                {% for answer in question.answers %}
                    <option>{{ answer }}</option>
                {% endfor %}
            </select>
            <hr>
        {% endfor %}
        <button type="button" id="submitButton" onclick="buttonClicked()" class="btn btn-primary">Отправить ответы</button>
    </form>
{% endblock %}